.user-event-item {
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 5px;
}

.user-event-img img {
  width: 180px;
  height: 200px;
}

.user-event-text h5 {
  font-weight: 600;
  font-size: 24px;
}

.user-event-text h6 {
  font-weight: 600;
  margin-top: 20px;
  font-size: 20px;
}

.user-event-btn {
  border: 1px solid rgba(128, 128, 128, 0.383);

  position: absolute;
  bottom: 22px;
  right: 22px;
}
